<div class="text-center">
	<div style="margin-top:20px">
		<p>Every half an hour the WPT Reporter system schedules WebPageTest to hit a set of urls scheduled within the WPT Reporter. This system lets you edit the set of tests that are run and view the results of these tests. </p>
		<p><b><a href="summary">Summary</a></b> - View the results of each test over time.</p>
		<p><b><a href="compare">Compare</a></b> - Compare the results of the tests with each other on the same graph.</p>
		<p><b><a href="analyse">Analyse</a></b> - Analyse any test on an object by object level, with trend times for any object over time.</p>
		<p><b><a href="admin/scenarios/">Admin</a></b> - Add/update/remove test scenarios.</p>
		<p><a href="<%=Padrino.mounted_apps[0].app_obj.web_page_test_url%>">Visit here</a> in order to run manual tests.
	</div>
</div>